$primary-font: Titan One, sans-serif;
$secondary-font: DM Sans, sans-serif;

$accent-color: #d41443;
$secondary-color: #ffa5ba;
$white-color: #fff;
$black-color: #000;
$some-color: #907e82;

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);