<div class="mobile-menu" id="mobile-menu" data-menu>
  <div class="content">
    <button class="button-close is-open" type="button" aria-expanded="false" aria-controls="menu-container" data-menu-button-close data-unlock>
      <svg class="icon" width="16" height="16" aria-label="Переключатель мобильного меню">
        <use class="icon-close" href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <button class="button-buy" type="button" data-modal-burger-menu-open data-modal-burger-menu-lock>Buy now
      <svg width="5" height ="8">
        <use class="icon-embed" href="./images/sprite.svg#icon-embed"></use>
      </svg>
    </button>

    <ul id="navigation" class="list">
      <li class="item">
          <a class="link" href="#hero">Home</a>
        </li>
        <li class="item">
          <a class="link" href="#products">About us</a>
        </li>
        <li class="item">
          <a class="link" href="#made-section">How it's made?</a>
        </li>
        <li class="item">
          <a class="link" href="#locations">Our products</a>
        </li>
        <li class="item">
          <a class="link" href="#page-footer">Contact</a>
        </li>
    </ul>
  </div>
</div>