<header class="page-header">
  <div class="container position">
      <a class="logo" href="./index.html">
        <img src="./images/logo.png" alt="logo">
        <span class="logo-text">icecream</span>
      </a>

    <nav id="navigation" class="navigation">
      <ul class="navigation-list">
        <li class="item">
          <a class="link" href="#hero">Home</a>
        </li>
        <li class="item">
          <a class="link" href="#products">About us</a>
        </li>
        <li class="item">
          <a class="link" href="#made-section">How it's made?</a>
        </li>
        <li class="item">
          <a class="link" href="#locations">Our products</a>
        </li>
        <li class="item">
          <a class="link" href="#page-footer">Contact</a>
        </li>
      </ul>
    </nav>
    <div class="tablet-pos">
      <button class="button-menu" type="button" aria-expanded="false" aria-controls="menu-container" data-menu-button data-lock>
        <svg class="icon" width="20" height="12" aria-label="Переключатель мобильного меню">
          <use class="icon-menu" href="./images/sprite.svg#icon-burger"></use>
        </svg>
      </button>
      <button class="button-buy" type="button" data-modal-open data-modal-lock>Buy now
        <svg width="5" height ="8">
          <use class="icon-embed" href="./images/sprite.svg#icon-embed"></use>
        </svg>
      </button>
    </div>
  </div>

  <button class="button-scrollup" type="button">
    <svg class="icon-up" width="30" height="30">
      <use class="icon-embed" href="./images/sprite.svg#icon-embed"></use>
    </svg>
  </button>

</header>