
<section class="locations container" id="locations">
    <h2 class="visually-hidden">Locations</h2> 
    <ul class="list">
        <li class="item">
            <h3 class="title cafe">cafe</h3>
            <div class="city">
                <h4 class="city-title">Chicago</h4>
                <p class="text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </div>
            <ul class="working-time">
                <li class="working-time-item">
                    <h4 class="working-days">Monday - Friday</h4>
                    <p class="working-hours">06:00 AM - 10:00 PM</p></li>
                <li class="working-time-item">
                    <h4 class="working-days">Saturday - Sunday</h4>
                    <p class="working-hours last-item">08:00 AM - 16:00 PM</p> 
                </li>
            </ul>
            <div>
                <ul class="contacts">
                    <li class="telephone"><a href="">+61(0) 383 766 284</a></li>
                    <li class="mail"><a href="">noreply@envato.com</a></li>
                </ul>
            </div>

        </li>
        <li class="item">
            <h3 class="title truck">food truck</h3>
            <div class="city">
                <h4 class="city-title">Los Angeles</h4>
                <p class="text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </div>
            <ul class="working-time">
                <li class="working-time-item">
                    <h4 class="working-days">Monday - Friday</h4>
                    <p class="working-hours">06:00 AM - 10:00 PM</p></li>
                <li class="working-time-item">
                    <h4 class="working-days">Saturday - Sunday</h4>
                    <p class="working-hours last-item">08:00 AM - 16:00 PM</p>
                </li>
            </ul>
                <ul class="contacts">
                    <li class="telephone"><a href="">+61(0) 383 766 284</a></li>
                    <li class="mail"><a href="">noreply@envato.com</a></li>
                </ul>
        </li>
        <li class="item">
            <h3 class="title cafe">cafe</h3>
            <div class="city">
                <h4 class="city-title">New York</h4>
                <p class="text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </div>
            <ul class="working-time">
                <li class="working-time-item">
                    <h4 class="working-days">Monday - Friday</h4>
                    <p class="working-hours">06:00 AM - 10:00 PM</p></li>
                <li class="working-time-item">
                    <h4 class="working-days">Saturday - Sunday</h4>
                    <p class="working-hours last-item">08:00 AM - 16:00 PM</p> </li>
            </ul>
            <div>
                <ul class="contacts">
                    <li class="telephone"><a href="">+61(0) 383 766 284</a></li>
                    <li class="mail"><a href="">noreply@envato.com</a></li>
                </ul>
            </div>
        </li>
    </ul>
    <div class="buttons">
    <button class="button control">Our Locations
    <svg class="icon-embed" width="5" height ="8">
        <use href="./images/sprite.svg#icon-embed"></use>
      </svg>
    </button>
    <button class="button franchise">Franchise
        <svg class="icon-embed" width="5" height ="8">
            <use  href="./images/sprite.svg#icon-embed"></use>
          </svg>
    </button>
</div>
</section>



