<div class="backdrop is-hidden" data-modal>
    <div class="modal">
      <form class="modal-form" action="">
        <button class="button-close" type="button" data-modal-close data-modal-unlock>
          <svg width="11px" height="11px">
            <use href="./images/sprite.svg#icon-close"></use>
          </svg>
        </button>

        <p class="modal-title">Leave your details, we will call you back</p>

        <div class="input-container">
          <label class="form-label" for="name">Name Surname</label>
          <input class="form-input" type="name" name="name" id="name">
          <svg class="modal-icon" width="18" height="18">
            <use href="./images/sprite.svg#icon-human"></use>
          </svg>
        </div>

        <div class="input-container">
          <label  class="form-label" for="tel">Number</label>
          <input class="form-input" type="tel" name="phone" id="tel">
          <svg class="modal-icon" width="18" height="18">
            <use href="./images/sprite.svg#icon-phone"></use>
          </svg>
        </div>
        <div class="input-container textarea">
          <label  class="form-label" for="comment">Commentary</label>
          <textarea type="text" name="comment" id="comment" placeholder="Enter text"></textarea>
        </div>

        <button class="button-submit" type="submit">Submit</button>
      </form>
    </div>
  </div>