<section class="products" id="products">
    <div class="container">
        <h2 class="products-title">100% natural</h2>
        <span class="products-name">products</span>
        <ul class="products-list">

            <li class="products-item pink">

                <img class="products-img" src="/images/pinkice.png" alt="pink icecream">

                <div class="products-description">

                    <h3 class="products-kinds">ice cream</h3>
                    <svg class="products-svg">
                        <use href="/images/sprite-products.svg#icon-points"></use>
                    </svg>
                    <p class="products-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
                </div>
                <a href="#" class="products-link">
                    <svg class="products-svglink">
                        <use href="/images/sprite-products.svg#icon-arrow_forward"></use>
                    </svg>
                </a>
            </li>

            <li class="products-item biege">
                <img class="products-img" src="/images/biegeice.png" alt="biege icecream">
                <div class="products-description">
                    <h3 class="products-kinds">ice coffee</h3>
                    <svg class="products-svg">
                        <use href="/images/sprite-products.svg#icon-points"></use>
                    </svg>
                    <p class="products-text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod
                        tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
                </div>
                <a href="#" class="products-link">
                    <svg class="products-svglink">
                        <use href="/images/sprite-products.svg#icon-arrow_forward"></use>
                    </svg>
                </a>
            </li>

            <li class="products-item green">
                <img class="products-img" src="/images/brownice.png" alt="brown icecream">
                <div class="products-description">
                    <h3 class="products-kinds">milkshakes</h3>
                    <svg class="products-svg">
                        <use href="/images/sprite-products.svg#icon-points"></use>
                    </svg>
                    <p class="products-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
                </div>
                <a href="#" class="products-link">
                    <svg class="products-svglink">
                        <use href="/images/sprite-products.svg#icon-arrow_forward"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</section>